# Default line endings
* text=auto eol=lf

# Exclude dev configuration and test artifacts from Composer distribution releases
/tests export-ignore
/.github export-ignore
/docs export-ignore
phpunit.xml export-ignore
phpstan.neon export-ignore
psalm.xml export-ignore
rector.php export-ignore
.php-cs-fixer.cache export-ignore
.gitignore export-ignore
